server:
  port: 8888

  cloud:
    config:
      server:
        git:
          uri: https://github.com/SAMIT21-red/microservice-config
          clone-on-start: true
          default-label: main

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info

